body {
    background: #222;
    padding: 1em;
    margin: 0;
    font-size: 16px;
    color: #777;
    font-family: helvetica, sans-serif;
}
input,
textarea,
select {
    border: 1px solid #111;
    padding: 0.5em;
    font-size: 15px;
    line-height: 1.2em;
    width: 80%;
    background: #444;
    color: #fff;
    font-family: helvetica, sans-serif;
    background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#444));
    -webkit-appearance: none;
    /*box-shadow*/
    -webkit-box-shadow: 1px 1px 1px #333;
    -moz-box-shadow: 1px 1px 1px #333;
    box-shadow: 1px 1px 1px #333;
}
input:focus,
textarea:focus,
select:focus { outline-color: #FFFFFF }
textarea {
    height: 55px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.05, #333));
}
input[type=text] {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.12, #333));
}

button {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #333333;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

button:hover {
    background: #000000;
    text-decoration: none;
}